﻿
html , body{
    height: 100%;
    width: 100%;
}

body {
    background: none;
}

.title_frm {
    margin-bottom: 30px;
    font-weight: bold;
}


.div_title-filtros {
    position: relative;
    left: 0px;
    top: -20px;
    width: 155px;
    padding: 0px 5px;
    background-color: white;
}

.title-filtros {
    font-size: 16px;
}

.bloque_filtros {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 0px 20px;
    margin-bottom: 25px;
}

.contenedorFrm {
    margin: 20px 30px;
}

.lbl_filtros {
    width: 120px;
    height: 35px;
    background-color: #777;
    color: #ffffff;
    text-align: center;
    font-size: 90%;
    font-weight: 700;
    border-radius: .25em;
    line-height: 1;
    margin-bottom: 5px;
    margin-right: 15px;
    padding: 13px 0px;
}

.cb_filtros {
    width: 250px;
    height: 35px;
    text-align: center;
    font-size: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}

.div_tabla{
    margin: 5px 0px;
}

