﻿html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f3e9e2;
}

.contener-formulario {
    width: 1200px;
    height: 350px;
    display: flex;
    border-radius: 20px;
    padding: 2%;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(29, 30, 31, 0.28);
    -moz-box-shadow: 0px 2px 9px 0px rgba(29, 30, 31,0.28);
    box-shadow: 0px 2px 9px 0px #a77044;
    overflow: hidden;
}

.persona {
    padding: 0px 20px 0px 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-right: 1px solid #a77044;
}

.persona img {
    height: 230px;
}

.izquierda {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-right: 1px solid #a77044;
    padding: 0px 20px 0px 0px;
}

    .izquierda img:last-child{
        width: 380px;
        height: 140px;
        padding: 2%;
    }



    .logo-text {
        font-family: "Libre Baskerville",sans-serif;
        font-size: 40px;
    }

.derecha {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 0px 20px 0px 20px;
}

.box-header {
    width: 100%;
    height: 8%;
    text-align: center;
    font-family: sans-serif;
    padding: 0;
    margin-bottom: 7%;
    padding-bottom: 10px;
}

.box-title {
    font-weight: bold;
    font-family: "Libre Baskerville",sans-serif;
}

.subtitulo {
    width: 90%;
    height: 8%;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.formulario {
    width: 90%;
    height: 74%;
    padding-top: 2%;
    padding-top: 5%;
    overflow: hidden;
}

.botones {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.label {
    color: black !important;
    background: white !important;
    font-size: 1em;
    font-weight: normal;
}

.loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: grey;
    z-index: 9999;
    font-size: 22px;
    opacity: 0.8;
    color: black;
    font-weight:bold;
    display: none;
}