﻿/************ ETIQUETAS HTML ************/
/* line 7, D:/Fleming/SASS/scss/Style.scss */
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* line 14, D:/Fleming/SASS/scss/Style.scss */
body {
    font-family: sans-serif;
    z-index: -2;
    background: #97d6e7 url("../Imagenes/imagen-background.jpg") bottom repeat-x fixed;
}

/************ MASTER PAGE ************/


/* line 116, D:/Fleming/SASS/scss/Style.scss */
.loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: grey;
    z-index: 9999;
    font-size: 22px;
    opacity: 0.8;
    color: black;
    font-weight: bold;
    display: none;
}

/************ PAGINAS EN GENERAL ************/
/* line 132, D:/Fleming/SASS/scss/Style.scss */
.title_frm {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

/* line 138, D:/Fleming/SASS/scss/Style.scss */
.div_bloque {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px;
}

    /* line 143, D:/Fleming/SASS/scss/Style.scss */
    .div_bloque .title_bloque {
        margin: 0px;
        font-weight: bold;
        position: relative;
        top: -25px;
        color: grey;
        background: white;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
        display: initial;
    }

/******* DATATABLE JQUERY *******/
/* line 204, D:/Fleming/SASS/scss/Style.scss */
.table {
    width: 100% !important;
}

    /* line 207, D:/Fleming/SASS/scss/Style.scss */
    .table th {
        text-align: center;
    }

    .table {
        font-size: 12px;
        text-transform: capitalize;
    }

/* line 213, D:/Fleming/SASS/scss/Style.scss */
.dataTables_filter {
    margin-bottom: 10px;
}

    /* line 216, D:/Fleming/SASS/scss/Style.scss */
    .dataTables_filter label {
        font-weight: normal;
        height: 40px;
    }

    /* line 221, D:/Fleming/SASS/scss/Style.scss */
    .dataTables_filter input {
        height: 40px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
    }

.buttons-excel {
    color: #fff !important;
    background: #28a745 !important;
    border-color: #28a745 !important;
    border-radius: 4px !important;
}


